<html>

<head>
<style>
</style>
</head>

<body>
<p>
  <form>
    Message:
    <input type='text' name='message' />
    Offset:
    <input type='integer' name='offset' />
    <input type='submit' value='Submit' />
  </form>
</p>
<p>
Using offset: <%= offset %>
</p>
<p>
Encrypted message:
<%= response %>
</p>
</body>

</html>
